name: CI Tests

on:
  push:
  pull_request:

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      env:
        SHELLCHECK_OPTS: -s bash -e SC2134,SC2155,SC2206

  bats:
    name: Bats
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Setup Bats
      run: git submodule update --init --recursive
    - name: bats test
      run: |
        ./test/bats/bin/bats test/*.bats
        ./test/bats/bin/bats test/include/*.bats
